
@font-face {
    font-family: 'brandonsmithregular';
    src: url('brandonsmith-rp0ew-webfont.eot');
    src: url('brandonsmith-rp0ew-webfont.eot?#iefix') format('embedded-opentype'),
         url('brandonsmith-rp0ew-webfont.woff2') format('woff2'),
         url('brandonsmith-rp0ew-webfont.woff') format('woff'),
         url('brandonsmith-rp0ew-webfont.ttf') format('truetype'),
         url('brandonsmith-rp0ew-webfont.svg#brandon_smithregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


header { 
    font-family: brandonsmithregular, arial, sans-serif;
    text-shadow: -2px -2px 0px #0f0f0fc9;
    font-size: 80px;
    color: black; 
}


body{
    background-color: rgba(207, 83, 211, 0.664);

}


#container{
    display: grid;
    position: fixed;
    box-sizing: border-box;
    top: 45%;
    left: 50%;
    width: 500px;
    height: 500px;
    transform: translate(-50%, -50%);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    border: solid 4px;
}

.clrbtn{
    display: grid;
    position: fixed;
    background-color: black;
    border: 2px solid black;
    border-radius: 5px;
    color: white;
    top: 50%;
    left: 20%;
    height: 30px;
    width: 189px;
    font-size: 20px;
}
.usernum{
    display: grid;
    position: fixed;
    background-color: rgba(246, 230, 247, 0.76);
    top: 30%;
    left: 20%;
    height: 30px;
    width: 180px;
    font-size: 11px;
}

.submit{
    display: grid;
    position: fixed;
    background-color: black;
    border: 2px solid black;
    color: white;
    border-radius: 5px;
    top: 34%;
    left: 20%;
    height: 30px;
    width: 189px;
    font-size: 20px;

}


.blackbtn{
    display: grid;
    position: fixed;
    background-color: black;
    border: 2px solid black;
    border-radius: 5px;
    color: white;
    top: 76%;
    left: 37%;
    height: 30px;
    width: 120px;
    font-size: 20px;
}

.rainbtn{
    display: grid;
    position: fixed;
    background-color: black;
    border: 2px solid black;
    border-radius: 5px;
    color: white;
    top: 76%;
    left: 47%;
    height: 30px;
    width: 120px;
    font-size: 20px;
}

.gradientbtn{
    display: grid;
    position: fixed;
    background-color: black;
    border: 2px solid black;
    border-radius: 5px;
    color: white;
    top: 76%;
    left: 57%;
    height: 30px;
    width: 120px;
    font-size: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.etchitem{
    background-color: rgba(246, 230, 247, 0.76);
    opacity: 1;
    transition: opacity 0.1s ease 0.2s, transform 0.1s ease;
    
}

.etchitem:hover {
    opacity: 1;
    transition: opacity 0.2s ease;
    transform: scale(1);
}

#shadowBox {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.2);
    /* Black w/opacity/see-through */
    border: 3px solid; 


}


.rainbow {
    text-align: center;
    letter-spacing: 5px;
}


.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 15s ease-in-out infinite;
    background-size: 400% 100%;
}


@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}